.add-permission-pop {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 10px 0;
  .add-permission-inputs{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    .inputs-container{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  .add-permission-btn{
    button{
      padding: 5px;
      width: 7rem;
      background-color: #7066e0;
      border: none;
      border-radius:15px;
      outline: none;
      font-size: 17px;
      color: #fff;
      cursor: pointer;
      transition: .3s;
      &:hover{
        background-color: #4f47a4;
      }
    }
  }
}
  .permission-dialog{
    width: max-content !important;
  }
.screen-select{
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.146);
  outline:none;
  &:focus{
    border: 1px solid #b4dbed;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.06), 0 0 0 3px rgba(100,150,200,.5);
  }
}