.add-procurements-pop{
  .select-employee{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .confirm{
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    background-color: black;
    border-radius: 8px;
    padding: 4px 8px;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
  }
  .order-view-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 350px;
    overflow-x: auto;
    position: relative;
    margin-top: 10px;
    .label{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: sticky;
      top: 2%;
      background-color: black;
      color: #fff;
      span{
        padding: 12px;
      }
    }
    .row{
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: rgb(191, 197, 201);
      border-radius: 8px;
      .column{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px;
        gap: 10px;
        .label{
          font-weight: bold;
          background-color: bisque;
        }
      }
      .post-transaction{
        outline: none;
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}