.aboutUs-container {
  width: 100%;
  // display: grid;
  // grid-template-columns: 1fr;
  // grid-template-rows: 1fr;
  // grid-template-areas: "overlap";
  background-color: $White_color;
  //padding: 20px;
  &>img {
    z-index: -1;
    width: 0%;
    object-fit: cover;
    filter: blur(2px);
    grid-area: overlap;
  }
  .aboutUs-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include breakpoint(mobile) {
      padding: 20px;
    }
    h2 {
      font-size: 30px;
      color: $mainColor;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        bottom: -10%;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        // background-color: $Darkblue_color;
        background-color: $mainColor;
        animation-name: move-bubble;
        animation-duration: 3.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: -5%;
        left: 50%;
        transform: translateX(-50%);
        width: 120px;
        height: 3px;
        // background-color: $Darkblue_color;
        background-color: $mainColor;
      }
    }
    .aboutUs-list {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 15px;
      margin:20px 0;
      direction: rtl;
      .aboutUs-listCol {
        @include breakpoint(mobile) {
          padding: 10px;
          font-size: 15px;
          width: max-content;
          margin-bottom: 18px;
        }    
        position: relative;
        background-color: $Dark_color;
        padding: 10px;
        font-size: 18px;
        border-radius: 8px;
        text-align: center;
        color: $White_color;
        cursor: pointer;
        transition: .4s ;
        &:hover {
          // background-color: $yellow_color;
          background-color: #7f3aaf;
        }
        &.active {
          // background-color: $yellow_color;
          background-color: #7f3aaf;
        }
        // &::after{
        //   content: "";
        //   position:absolute;
        //   border: 20px solid ;
        //   border-radius: 0px 0px 150px 150px;
        //   border-color: transparent transparent transparent transparent;
        //   width: 0px;
        //   height: 0px;
        //   bottom: -20px;
        //   left: 45%;
        //   transition: .4s all ease-in-out;
        //   @include breakpoint(medium) {
        //     left: 42%;
        //   }  
        //   @include breakpoint(mobile) {
        //     left: 30%;
        //   }  
        // }
        &:hover:after{
          transition: .4s all ease-in-out;
          // transform: translate3d(0, 10px, 0);
          transform: translateY(10px);
          border-color: $yellow_color transparent $yellow_color transparent;
        }
        &.active:after{
          transition: .4s all ease-in-out;
          // transform: translate3d(0, 10px, 0);
          transform: translateY(10px);
          border-color: $yellow_color transparent $yellow_color transparent;
        }
      }
    }
    .aboutUs-ourTeam{
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      // margin-top: 30px;
      direction: rtl;
      @include breakpoint (medium) {
        margin-top: 10px;
      }
      .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        // color: $main_color;
        color: $Dark_color;
        gap: 10px;
        .header {
          font-size: 25px;
          font-weight: bold;
          position: relative;
          color: $mainColor;
          @include breakpoint (medium) {
            margin-bottom: 0px;
            font-size: 30px;
          }
          &::before {
            content: "";
            @include breakpoint (medium) {
              border-width: 15px;
            }
            position: absolute;
            right: -15%;
            top: 25%;
            width: 0;
            height: 0;
            border-width: 12px;
            border-style: solid;
            border-radius: 4px;
            border-color: transparent $mainColor transparent transparent;
          }
          &+ span{
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 8px;
          }
        }
        .features-container {
          width: 100%;
          .menu-items{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 30px;
            width: 100%;
            .features {
              position: relative;
              // margin-left: 20px;
              background-color: $gray_color;
              padding: 40px 0px 0px 0px;
              border-radius: 8px;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              gap:20px;
              box-shadow: 0 0 5px 2px rgb(183 183 183 / 49%);
              min-width:300px;
              @include breakpoint (medium) {
                padding: 30px 0px 0px 0px
              }
              @include breakpoint (mobile) {
                margin-bottom: 25px;
              }
              &::after{
                content: "";
                position: absolute;
                top: 0;
                width: 140px;
                border-radius:0px 0px 5px 5px;
                height: 5px;
                // background-color: $yellow_color;
                background-color: #7f3aaf;
              }
              .eye-container{
                position: relative;
                width: 180px;
                height: 180px;
                display: flex;
                align-items: center;
                justify-content: center;
                .opacity{
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  border-radius: 50%;
                  justify-content: center;
                  transition: .3s;
                  &:hover{
                    background-color: #7e3aaf69;
                    .view-item-popup{
                      opacity: 1;
                    }
                  }
                  .view-item-popup{
                    background-color: #7f3aaf;
                    border: none;
                    outline: none;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    opacity: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    &:hover{
                      background-color: #110a16;
                    }
                    i{
                      opacity: 1;
                      font-size: 20px;
                      color: #fff;
                      transition: .3s;
                    }
                  }
                }
                img{
                  // @include breakpoint (medium) {
                  //   width: 150px;
                  //   height: 150px;
                  // }
                  border-radius: 50%;
                  width: 180px;
                  height: 180px;
                  border: 4px solid #7f3aaf;
                }
              }
              .feat {
                border-radius: 30px 30px 8px 8px;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;  
                background-color: $Dark_color;
                width: 100%;
                span{
                  font-size: 18px;
                  font-weight: bold;
                  color: $White_color;
                  margin-bottom: 10px;
                }
                .description {
                  max-width: 300px;
                  font-size: 14px;
                }
                .bestSeller{
                  color: $yellow_color;
                }
                .links-container {
                  display: flex;
                  justify-content: space-between;
                  width: 70%;
                  margin-top: 20px;
                  .item-price{
                    color: #7f3aaf;
                  }
                  a {
                    text-decoration: none;
                    i {
                      font-size: 20px;
                      // color: $yellow_color;
                      color: #7f3aaf;
                    }
                  }
                }
              }
            }
          }
        }
        .more{
          background-color: $Dark_color;
          padding: 10px;
          text-align: center;
          display: block;
          align-self: center;
          border-radius: 8px;
          width: 150px;
          margin-top: 10px;
          cursor: pointer;
          &:hover i {
            transform: translateX(-10px);
          }
          div{
            display: flex;
            align-items: baseline;
            justify-content: center;
            gap: 10px;
            a{
              text-decoration: none;
              color: $White_color;
              font-size: 20px;
            }
            i{
              color: $mainColor;
              font-size:18px;
              transition: .4s ease-in-out;
            }
          }
      }
      }
    }
  }
}
