.ChannelI-container{
  height: 100vh;
  @include flex(0px,flex-start,flex-start,column);
  .top-header{
    @include flex(0px,flex-end,center,row);
    width: 100%;
    padding: 18px 0;
    box-shadow: 0px 20px 20px 0px rgb(0 0 0 / 3%);
    background-color: #fff;
    z-index: 9;
    .sign-in{
      margin-left: 50px;
      @include button();
      background-color: transparent;
      a{
        padding: 5px 10px;
        min-width: 100px;
        font-size: 15px;
        font-weight: 600;
        border-radius: 25px;
        text-decoration: none;
        color: #000;
        border: 2px solid #387fdb;
      }
    }
  }
  .lg-container{
    @include flex(0px,flex-start,flex-start,row);
    width: 100%;
    height: 100%;
    background-color: #fff;
    .right-section{
      width: 40%;
      height: 100%;
      background-color: rgb(239, 240, 240);
      @include flex(0px,flex-start,center,column);
      .col{
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 30px;
        margin-top: 18%;
        h2{
          font-size: 30px;
        }
        .illstration{
          width: 220px;
          align-self: center;
        }
        span{
          color: rgba(0, 0, 0, 0.542);
        }
      }
    }
    .left-section{
      padding: 25px 0 0 0 ;
      width: 60%;
      height: 100%;
      @include flex(0px,flex-start,center,column);
      .col{
        @include flex(20px,center,center,column);
        margin-top: 18%;
        .form-header{
          @include flex(20px,center,center,column);
          .errmsg{
            color: red;
            background-color: red($color: #ff0000);
          }
          .offscreen{
            display: none;
          }
          .top{
            @include flex(0px,center,center,row);
            h3{
              font-weight: 600;
              color: #000000a0;
              font-size: 30px;
            }
          }
          .label{
            font-weight: 400;
            color: #000000a0;
            font-size: 20px;
          }
        }
        // .signUP-form{
        //   display: flex;
        //   flex-direction: row !important;
        //   flex-wrap: wrap;
        // }
        form{
          @include flex(20px,center,center,column);
          input{
            width: 350px;
          }
          .confirm{
              text-decoration: none;
              background-color: rgb(0, 149, 255);
              padding: 8px 0;
              min-width: 150px;
              border-radius: 19px;
              font-size: 16px;
              color: #fff;
              transition: .3s;
              &:hover{
                background-color: rgb(7, 109, 182);
            }
            @include button();
          }
        }
      }
    }
  }
}
.p-float-label label {
  position: absolute;
  pointer-events: none;
  top: 50%;
  margin-top: -0.5rem;
  transition-property: all;
  transition-timing-function: ease;
  line-height: 1;
}

.p-float-label > label {
  right: 0.75rem;
  color: #6c757d;
  transition-duration: 0.2s;
}