$Dark_color:#222831;
$White_color :#ffffff;
$yellow_color :#ffbe33;
$mainColor :#7f3aaf;
$gray_color :#f1f2f3;
$Darkgray_color :#9c9c9c;
$red_color :#cf0000;
$purple_color :#655DBB;
$edit_backColor :rgb(21, 81, 185);
$edit_color :rgb(82 206 114);
$view_color :rgb(51, 175, 247);
$delete_color :rgb(180, 26, 26);
$menu_color :#5443c3;

// #######
$primary-100:#7FB3D5;
$primary-200:#6296b7;
$primary-300:#195775;
$accent-100:#F7CAC9;
$accent-200:#926b6a;
$text-100:#333333;
$text-200:#5c5c5c;
$text-200-shadow:#5c5c5c24;
$bg-100:#F5F5DC;
$bg-100-shadow:#fffff0;
$bg-200:#ebebd2;
$bg-300:#c2c2aa;

// #############
// $primary-100:#8B5FBF;
// $primary-200:#61398F;
// $primary-300:#FFFFFF;
// $accent-100:#D6C6E1;
// $accent-200:#9A73B5;
// $text-100:#4A4A4A;
// $text-200:#878787;
// $bg-100:#F5F3F7;
// $bg-200:#E9E4ED;
// $bg-300:#FFFFFF;
