@use './sass/helpers/mixins'  as *;
// import home style
@import './sass/sections/home';
// import all menu style
@import './sass/sections/allMenu';
// import myCart style
@import './sass/sections/myCart';
// import navbar style
@import './sass/sections/nav-bar';
// import global-rules style
@import './sass/layout/global-rules';
// import colors style
@import './sass/variables/colors' ;
// import landing style
@import './sass/sections/landing.scss' ;
// import services style
@import './sass/sections/services' ;
// import about us style
@import './sass/sections/aboutUs' ;
// import clients style
@import './sass/sections/clients' ;
// import footer style
@import './sass/sections/footer' ;
// import menu style
@import './sass/sections/menu' ;
// import super style
@import './sass/sections/super' ;
// import orders style
@import './sass/sections/orders' ;
// import cart style
@import './sass/sections/cart' ;
// import wishlist style
@import './sass/sections/wishlist';
// import login style
@import './sass/sections/login';
// import sign up style
@import './sass/sections/signUp';
// import checkout style
@import './sass/sections/checkout';
// import wishlist style
@import './sass/sections/addProduct';
// import users style
@import './sass/sections/users';
// import procurements style
@import './sass/sections/procurements';
// import permissions style
@import './sass/sections/permissions';
// import permissions style
@import './sass/sections/treasury';
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin :0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Cairo', sans-serif;
}
html{
  scroll-behavior: smooth;
  // overflow-x: hidden;
}
body{
  // background-color:$bg-100-shadow;
  background-color:#1f2b3e;
  overflow-x: hidden !important;
  color: $Dark_color;
  width: 100vw !important;
}
::-webkit-scrollbar {
  height: 8px;
  width: 6px;
}
::-webkit-scrollbar-corner {
  background-color: #fff;
}
::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 10px rgba(0 0 0 0 25);
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: $Darkgray_color;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $yellow_color ;
}
